.card {
	border: 1px solid grey;
	border-radius: 5px;
	margin: 15px 0;
	padding: 3px;
	background-color:  white;
	z-index: 400;
	box-shadow: 1px 1px 5px 1px #CCCCCC;
	transition: all .2s ease-in-out; 
}

.card:hover { 
	transform: scale(1.05); 
	box-shadow: 2px 2px 5px 2px #CCCCCC;
} 

.cards-main{
	margin: 25px 0;
}

.card-title {
	text-align: center;
	background-color: $revolt_light_green;
	cursor: move;
	cursor: -webkit-grabbing;
}

.card-title:hover, .card-title:active,  { 
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.card-body {
	text-align: center;
}

.ghost {
	border: 2px dotted black;
	border-radius: 5px;
	opacity: .3;
}