.drum{
height: 25.3px !important;
}

div.date_wrapper {
	width: 265px;
}

.freya-time {
	border: 1px dotted lime;
}

div.date_wrapper .date_header {
	height: 25px;
	font-weight: 400;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}

div.date_wrapper .date_header span.title {
	float: left;
	text-align: left;
}

div.date_wrapper .date_header span.selection {
	float: right;
	text-align: right;
	color: #CE0000;
}

div.date_wrapper form {
	position: relative;
}

div.date_wrapper .lines {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	position: absolute;
	top: 58px;
	left: 0px;
	width: 100%;
	height: 24px;
}

div.date_wrapper .lines div {
	margin-left: 220px;
	line-height: 21px;
}		


div.drum-wrapper {
	float: left;
}

div.drum figure {
	text-align: left;
}

#drum_hours figure, 
#drum_date figure {
	text-align: right;
}

#drum_date, #drum_to_date {
	margin-left: 10px;
	margin-right: 5px;
}

#drum_date,
#drum_hours, 
#drum_minutes {
	width: 30px;
}

#drum_hours {
	margin-left: 10px;
}

#drum_minutes {
	margin-left: 4px;
}

#drum_month {
	width: 90px;
}

#drum_fullYear {
	width: 45px;
}

#drum_hours .dial div {
	margin: 0 7px;
}

#drum_minutes .dial div {
	margin: 0 2px;
}