body {
	font-family: 'Dosis', sans-serif;
}

a:hover {
	text-decoration: none;
}


.btn {
	height: 34px;
}

.btn-default {
	height: 34px;
	color: $button-text-color;
	background-color: $button-background-color;
}

.btn-default:hover {
	color: $button-text-color-hover;
	background-color: $button-background-color-hover;
}

.btn-spinner {
	height: 34px;
	color: $button-text-color;
	background-color: $button-background-color;
}

.btn-spinner:hover {
	color: $button-text-color-hover;
	background-color: $button-background-color-hover;
}

.fa-big {
	color: $revolt_dark_grey;
	font-size: 128px;
	margin: 25px;
}

.fa-faded {
	font-size: $font-size * 2;
	opacity: 0.6;
	margin-right: 15px;
}

.current-value {
	color: $revolt_dark_grey;
	font-size: $font-big;
}

i.fa.fa-check-circle.fa-2x.fa-status, i.fa.fa-check-circle.fa-2x.fa-status:hover {
	color: $revolt_light_grey;
	opacity: $icon-status-fade; 
}

i.fa.fa-exclamation-circle.fa-2x.fa-status, i.fa.fa-exclamation-circle.fa-2x.fa-status:hover {
	color: $revolt_light_grey;
	opacity: $icon-status-fade; 
}

i.fa.fa-times-circle.fa-2x.fa-status {
	color:red;
	opacity: 1;
}

.freya-inputfields{
	margin-top: 50px;
}