.modal-lg {
	width: $modal-width-percentage;
	border-radius: 15px;
	margin: 0 auto; 
	padding-top: 30px;
}

div#modal-temp.modal.fade.in {
    display: block;
    padding-right: 0 !important;
    padding-top: 30px;
}


div .modal-header {
	background-color: $revolt_light_green;
}

.modal-header .close {
	float: right;
	margin-right: -30px;
	margin-top: -30px;
	background-color: white;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	opacity: 1;
}

.modal-content {
	border-radius: 5px;
}

.modal-footer {
	margin: 25px 5px;
}

.modal-backdrop
{
	opacity:0.98;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	top: 300px;
	opacity: 0;
	-webkit-transition: all $modal-transition-duration;
	-moz-transition: all $modal-transition-duration;
	transition: all $modal-transition-duration;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -300px, 0);
	transform: translate3d(0, -300px, 0);
	opacity: 1;
}