.no-js #loader {
  display: none;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */

/* preloader */
.js #loader {
  display : block;
  position: absolute;
  left    : 100px;
  top     : 0;
}

.preloader {
  position  : fixed;
  left      : 0;
  top       : 0;
  width     : 100%;
  height    : 100%;
  z-index   : 9999;
  background: url("../images/freya_logo.png") center no-repeat #fff;
}

