.freya-slider {
	display: none;
}

div#slider-temperature {
	margin: 50px;
}

#slider-temperature .ui-slider-pip .ui-slider-line {
  height: 8px;
  top: -5px; }

#slider-temperature .ui-slider-pip:nth-child(even) {
  top: -33px;
  height: 15px;
  //transform: scale(0.8) translateY(3px);
  opacity: 1; }
  
  #slider-temperature .ui-slider-pip:nth-child(even) .ui-slider-line {
    top: 22px;
    height: 9px; }
  
  #slider-temperature .ui-slider-pip:nth-child(even).ui-slider-pip-selected-1 .ui-slider-label, 
  #slider-temperature .ui-slider-pip:nth-child(even).ui-slider-pip-selected-2 .ui-slider-label, 
  #slider-temperature .ui-slider-pip:nth-child(even).ui-slider-pip-selected-3 .ui-slider-label, 
  #slider-temperature .ui-slider-pip:nth-child(even).ui-slider-pip-selected-4 .ui-slider-label {
    top: -3px; }
                    
/* #slider-temperature .ui-slider-pip-initial-1 .ui-slider-label {
  color: yellow;//#E80949; 
  }
                    
#slider-temperature .ui-slider-pip-initial-2 .ui-slider-label {
  color: #FF03CB; 
  }
                    
#slider-temperature .ui-slider-pip-initial-3 .ui-slider-label {
  color: #C309E8; 
  }
                    
#slider-temperature .ui-slider-pip-initial-4 .ui-slider-label {
  color: #920AFF; 
  } */
                    
#slider-temperature .ui-slider-pip-selected-1 .ui-slider-label,
#slider-temperature .ui-slider-pip-selected-2 .ui-slider-label,
#slider-temperature .ui-slider-pip-selected-3 .ui-slider-label,
#slider-temperature .ui-slider-pip-selected-4 .ui-slider-label {
  color: white;
  width: 2.4em;
  padding: 4px 0;
  margin-left: -1.2em;
  border-radius: 2px; }
                    
#slider-temperature .ui-slider-pip-selected-1 .ui-slider-label {
  background-color: blue; //#E80949; 
 }
                    
#slider-temperature .ui-slider-pip-selected-2 .ui-slider-label {
  background-color: red; //#FF03CB; 
  }
                    
#slider-temperature .ui-slider-pip-selected-3 .ui-slider-label {
  background-color: #C309E8; }
                    
#slider-temperature .ui-slider-pip-selected-4 .ui-slider-label {
  background-color: red; //#920AFF; 
  }
                    
#slider-temperature .ui-slider-tip {
  width: 34px;
  margin-left: -17px;
  top: -1px;
  background: $revolt_dark_grey;//#00c7d7;
  color: white;
  border: none;
  line-height: 27px;
  height: 25px; }
                    
  #slider-temperature .ui-slider-tip:before, 
  #slider-temperature .ui-slider-tip:after {
    display: none; }
                    
#slider-temperature .ui-slider-handle.ui-state-active .ui-slider-tip,
#slider-temperature .ui-slider-handle.ui-state-focus .ui-slider-tip,
#slider-temperature .ui-slider-handle.ui-state-hover .ui-slider-tip,
#slider-temperature .ui-slider-handle:focus .ui-slider-tip,
#slider-temperature .ui-slider-handle:hover .ui-slider-tip {
  top: -1px; }
                    
#slider-temperature .ui-slider-handle.ui-state-focus {
  z-index: 100; }
  
  // Always show value in handles
  .ui-slider-float .ui-slider-handle.ui-state-default .ui-slider-tip {
    opacity: 1;
    top: -30px;
    visibility: visible;
}

// Set slider bar colors
.ui-slider-range{
background: #0000ff;
background: -moz-linear-gradient(left, #0000ff 0%, #e8e8e8 45%, #e8e8e8 55%, #ff0000 100%);
background: -webkit-linear-gradient(left, #0000ff 0%,#e8e8e8 45%,#e8e8e8 55%,#ff0000 100%);
background: linear-gradient(to right, #0000ff 0%,#e8e8e8 45%,#e8e8e8 55%,#ff0000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ff0000',GradientType=1 );
}