@import "variables";
@import "preloader";
@import "layout";
@import "cards";
@import "modals";
@import "graph";
@import "sliders";
@import "datetime";

.preloader img {
	width: 200px;
}

 body {
    overflow-x: hidden;
    background-color: #d2cfcd;
 }

h1 {
	color: red;
	font-size: $font-size * 4;
}

/* Toggle Styles */
 
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: $revolt_dark_grey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	color: white;
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	color: white;
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle2{
	width: 80px;
	margin: 25px;
}

.top-bar {
	height:$top-bar-line-height;
	line-height: $top-bar-line-height;
	background-color: $revolt_dark_grey;
	box-shadow: 1px 1px 5px 1px #CCCCCC;
	z-index: 500;
}

.top-bar-img {
	height: $top-bar-line-height - 6;
/* 	margin-right: 25px;
	 */	padding: 3px;
}

.top-bar-element {
    display: inline-block;
    vertical-align: top;
}

#top-bar-logo {
	margin-left: 50px;
}

#hamburgermenu {
	color: $revolt_light_green;
	background-color: $revolt_dark_grey;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

button, input, select, textarea {
    border: 1px solid #bbdc00;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-group {
	text-align: center;
}


    /*==========Responsiveness  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
	.col-xs-4, .col-sm-4 {
		padding-right: 2px;
		padding-left: 2px;
	}
	
	.top-bar {
		height: 25px;
		line-height: 20px;
	}
	#hamburgermenu {
		font-size: 16px;
	}
	#top-bar-logo{
		height: 25px;
		margin-left: 15px;

	}
	.btn {
		    padding: 0 12px;
	}
	.well {
		padding: 10px 0;
	}
	.cards-main {
	    margin: 0;
	}	
	.card {
		margin: 15px 0;
	}
	a {
	    color: $revolt_dark_grey;
	}
	h4 {
		font-size: ($font-size /2) + 6;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.current-value {
		margin-top: 15px;
		font-size: $font-size;
	}
	.fa-big {
		font-size: 64px;
		margin: 15px 0;
	}
	.fa-status {
		font-size: 16px;
	}
    }

    /*Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
	.col-xs-4, .col-sm-4 {
		padding-right: 2px;
		padding-left: 2px;
	}
	.cards-main {
		margin: 0;
	}	    
    	h4 {
	    	font-size: ($font-size /2)  + 4;
    	}
    	.graph {
	 	max-height: 150px;   	
    	}
    	div#slider-temperature {
	    	margin: 25px 0;
	}
    }
/* 
    Custom, iPhone Retina 
    @media only screen and (max-width : 320px) {

    } */
